In [4]:
import numpy as np
import pandas as pd

In [8]:
arr = np.random.randint(1,300,500)
arr

array([153, 194, 188,   2, 179,  38, 234, 235,  61, 233, 104,  81, 204,
       218,  68,  29,  77, 158, 297, 129, 107,  15, 258, 114,  55,  21,
       296, 220, 112, 160, 227, 255, 295, 246, 245, 104, 237,  77, 196,
        72,  55, 220,  54, 238, 273, 214, 220, 146, 240, 133, 295,   4,
       229, 232,  83, 294, 162,   1, 294,  32,  76, 254,  71, 124,  20,
       201, 269, 236,   3,  78, 194, 239, 123,  61, 296,  20,   3, 189,
        63,   6, 201, 221,  33, 137,  62, 248, 237, 242, 298, 194, 166,
       101, 132, 150,  19, 107, 258, 291,  90,  13, 128, 256, 144,  24,
       138, 126, 290,  36, 146,  24, 107, 256, 121,  72,  35, 152, 211,
        75,  22, 147, 214, 205, 234,  98, 151,  86, 256,  56, 290, 260,
       193, 281,  67, 187,  82, 259, 239, 260, 281, 162, 218,  89,  47,
        58, 164, 151, 212, 106,  28, 208,  28, 176, 239,  31, 169, 285,
       177,  89, 146, 187,  19, 274, 108,  32, 239, 134,  98, 256, 273,
        18, 283, 193, 175, 284, 215, 219, 285, 123, 179,  20, 155, 204,
       134, 288,  69, 110, 274, 214, 166, 109, 193,  78, 107,  66, 147,
       129,   3, 259, 235, 273,  17, 267,  50, 136, 276,  36, 261,   5,
       145,  90,  78, 122, 248,  10, 195, 132,  65, 164,  60,  24, 132,
       260, 152, 239,  36, 219, 279, 273,  18, 144, 136, 140,  87, 280,
       218, 158, 224, 222, 223, 255,  82, 253,  24, 277, 272, 293,  24,
        78,  86, 140, 114, 279, 189,  53, 286, 253,  11, 272,  13, 118,
        44, 286, 164, 223, 214, 113, 200, 268,  25, 291,  24,  13,  59,
       131, 183, 162,  52,  56, 189, 150, 229, 223, 253, 186, 137, 156,
        55,  39,  46,  18, 211, 165, 143,  74, 112,  50,  49,  15,  14,
        36,  50,   5,  38, 137, 143,   7, 174,  78,  92, 222, 241, 177,
        22, 142,  45, 175,  96, 162,  62, 104,  30, 233, 105, 221,  27,
       144, 268, 203,  27, 287,  95, 121, 260, 211, 107,  10, 297, 167,
       100,  17, 121,  46,  54, 290, 184,  78, 298,  49, 184, 194, 151,
        17,  81, 220, 291, 252, 157,  82, 130, 156,  75, 113, 195, 118,
        43, 214, 136,  27, 295, 136, 194,  38, 254, 222,  48, 167, 281,
       238, 121,  74,  32,   7, 262, 140, 107, 111, 256, 185, 164, 224,
       130,  26,  83, 268, 168,  72, 250, 162, 100,  10, 275, 157, 216,
        94,   7,  61,  55, 149, 134,  17, 197,  68,   5,   6, 135, 156,
       187,  42, 140, 216, 252,   7, 242, 171,  45, 206,  34, 133,  10,
       299, 194,  11,  17,  99, 293,  39, 175, 163,  56,  82, 264, 109,
        41,  23,  85, 283, 130, 257, 237, 238, 274,  60,  95,  34, 209,
       126, 200, 193,  10,  98,  16, 243, 186, 279, 102,  20, 298, 252,
       145, 203, 126, 158, 126, 239, 159, 207,  56, 210, 128,  99, 222,
       270,  58, 299, 163,   5, 204,  92, 297, 121,  56, 144, 269, 179,
       252, 281, 249, 186, 150, 157])

In [20]:
arr2=arr[(arr>50)&(arr<150)]
print(arr2)
print(arr2.mean())
print(arr2.size)

[ 52  53  54  54  55  55  55  55  56  56  56  56  56  58  58  59  60  60
  61  61  61  62  62  63  65  66  67  68  68  69  71  72  72  72  74  74
  75  75  76  77  77  78  78  78  78  78  78  81  81  82  82  82  82  83
  83  85  86  86  87  89  89  90  90  92  92  94  95  95  96  98  98  98
  99  99 100 100 101 102 104 104 104 105 106 107 107 107 107 107 107 108
 109 109 110 111 112 112 113 113 114 114 118 118 121 121 121 121 121 122
 123 123 124 126 126 126 126 128 128 129 129 130 130 130 131 132 132 132
 133 133 134 134 134 135 136 136 136 136 137 137 137 138 140 140 140 140
 142 143 143 144 144 144 144 145 145 146 146 146 147 147 149]
101.69811320754717
159

In [22]:
# data frame create using dictionary

data = {"Name":['Rishi','Harshit','Kartik','Yash'],
        "Subject":['phy','chem','bio','math'],
        "college":['poornima','bkbiet','lord','jecrc']}

In [24]:
df = pd.DataFrame(data)
df

      Name Subject   college
0    Rishi     phy  poornima
1  Harshit    chem    bkbiet
2   Kartik     bio      lord
3     Yash    math     jecrc

In [26]:
type(df)

pandas.core.frame.DataFrame

In [30]:
df['Name']

0      Rishi
1    Harshit
2     Kartik
3       Yash
Name: Name, dtype: object

In [32]:
type(df['Name'])

pandas.core.series.Series